@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-right: 1rem;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.countdown-item {
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding-top: 10px;
  margin-left: 5rem;
  margin-right: 5rem;
  position: relative;
  width: 100px;
  height: 100px;
}
